body{background-color:#22A7F0;text-align:center;}
table{margin:auto;left:0;right:0;}
input[type="number"]{display:inline-block;color:blue;padding:10px;border:solid 3px blue;border-radius:10px;background:none;font-family:monospace;font-size:18px;font-weight:bold;margin:10px;}
input[type="number"]::placeholder{color: blue;}
input[type="button"]{display:inline-block;color:#F7CA18;padding:13px;border:solid 3px #F7CA18;border-radius:10px;background:none;font-family:monospace;font-size:18px;font-weight:bold;margin:5px;cursor:pointer;}
input[type="button"]:hover,input[type="button"].on{background-color:#F7CA18;color:white}
td{background-color:white;width:64px;height:64px;border:solid 1px;text-indent:-9999px;white-space:nowrap;overflow:hidden;transition:1s;cursor:pointer;}
